[submodule "submodules/dlib"]
	path = submodules/dlib
	url = https://github.com/davisking/dlib
	ignore = dirty
[submodule "submodules/Display"]
	path = submodules/Display
	url = https://github.com/peter-iakovlev/Display
[submodule "submodules/AsyncDisplayKit"]
	path = submodules/AsyncDisplayKit
	url = https://github.com/peter-iakovlev/AsyncDisplayKit
[submodule "submodules/SSignalKit"]
	path = submodules/SSignalKit
	url = https://github.com/peter-iakovlev/Signals
